<md-card>
  <md-card-title>Book Details</md-card-title>
  <md-divider></md-divider>
  <md-card-content>
    <form #bookForm="ngForm" (ngSubmit)="save()" [class.ng-submitted]="submitted" novalidate>
      <div layout="column" flex>
        <md-input-container flex>
          <input mdInput placeholder="Title" id="title" name="titleField" type="text" [(ngModel)]="currentBook.title" required>
          <md-error>{{ getErrorMessageOfField('titleField') }}</md-error>
        </md-input-container>
        <md-input-container flex>
          <input mdInput placeholder="Author" id="author" name="authorField" type="text" [(ngModel)]="currentBook.author" required>
          <md-error>{{ getErrorMessageOfField('authorField') }}</md-error>
        </md-input-container>
        <br>
        <button type="submit" md-raised-button color="primary">Save</button>
      </div>
    </form>
  </md-card-content>
</md-card>
